* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-image: url(../img/fundo-topo.jpg);
    text-align: center;
    padding: 10px 0;
    
}

header h1 {
    margin: 0;
    height: 84px;
}

nav {
    text-align: center;
    padding: 15px 0;
}

nav li {
    display: inline;
    background-image: url(../img/patinha-preta.png);
    background-repeat: no-repeat;
    padding-right: 27px;
    margin-right: 10px;
    background-position: center right;
}

nav a {
    text-decoration: none;
    color: #000;
}

nav a:hover {
    color: #6dd432;
}


#itemcontato{
    background-image: none;
    padding: 0;
    margin: 0;
}

.fundo_verde {
    background-color: #bdff9c;

}

.container {
    width: 900px;
    margin: 0 auto;
    padding: 56px 0;
}

.flex_container  {
    display: flex;
    justify-content: space-between;
}


.flex_container .col {
    width: 430px;
}


.produto {
    width: 235px;
}

.produto figure {
    border: 1px solid #c4c4c4;
    background-color: #fff;
    margin: 0 0 15px 0;
    padding: 0;
    text-align: center;
    height: 160px;
    line-height: 160px;
}

.produto figure img {
    vertical-align: middle;
}

.texto_centralizado {
    text-align: center;
}

.btn_pata {
    border: 1px solid #91e467;
    background-color: #d2fbbd;
    text-decoration: none;
    color: #000;
    border-radius: 5px;
    cursor: pointer;  /*Transforma o cursor do mouse */
    display: inline-block;
    padding: 10px 20px;
}

#produto .flex_container {
    margin-top: 43px;
}

#center {
    text-align: center;
}


.type_fonte {
    font-family: sans-serif;
   }

form{
    width: 380px;
}

form input,
form textarea {
    width: 100%;
    border: 1px solid #6dd432;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 10px;
}

iframe{
    width: 100%;
}

h2 {
    text-transform: uppercase;
    margin-bottom: 15px;
}

#produto .flex_container, #contato .flex_container{
    margin-top: 43px;

}

#fixed {
    margin-top: 10px;
}
 
.border {
    border-top: 4px solid #91e467;
}

.img_config{
    width: 37px;
    height: 37px;
    margin-top: 20px;
}

#fix_text_map {
    font-family: sans-serif; 
    font-size: 15px;
}

.container2{
    width: 500px;

}
 
#hamburger {
    display: none;
}

@media (max-width: 580px) {
    * {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }

    ul li {
        padding: 0;
        margin: 0;
    }

    #nav-menu{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #menu_ul {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    nav li{
        background-image: none;
        background-color: black;
        width: 100%;

    }


    nav li a {
        display: block;
        width: 100%;
        color: white;
    }

    nav {
        padding: 0;
    }

    #hamburger {
        display: block;
        background-color: #6dd432;
        width: 100%;
        padding: 10px;
        cursor: pointer;

    }

    .ham , #items{
        width: 100%;

    }

    #items{
        display: none;
        cursor: pointer;
    }

    .container{
        width: 90vw;
        
    }

    .flex_container {
        flex-direction: column;
    }

    #art {
        gap: 30px;
    }


    .flex_container .col {
        width: 100%;
    }

    .col,img {
        text-align: center;
    }

    .produto {
        text-align: center;
        width: 100%;
    }
    

    .produto figure {
        border-radius: 10px;
    }

    form {
        width: 100%;
    }



}